body{
    margin: 0;
    overflow-x: hidden;
    
}

*{
    box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
    html{
        font-size: 70%;
    }
    .img-fluid{
        max-height: 100%;
        max-width: 100%;   
    }
    #main{
        width: 100%;
        height: 68rem;
    }
    .col-lg-7{
        padding-left: 7%;
    }
    .icon{
        max-height: 10px;
        max-width:30px ;
    }
    .pro2{
        margin-left: -28px;
    }
    #about{
        height: 88rem;
    }
    .imgs{
        margin-left: -125px;
    }
    .sidebar{
        max-width: 0%;
    }
    .both2{
        display: flex;
        justify-content: center;
    }
    .ico2{
        margin-left: -50px;
    }
    .myname2{
        margin-left: 45px;
        
    }
    .info{
        display: inline;
    }
    .inner{
        margin-left: 40px;
        margin-right: 35px;
        margin-top: 30px;
    }
    .sidebar2{
        max-width: 0%;
    }
    .incntct{
       max-width: 50%;
    }
    #contact{
        height: 45rem;
    }
    #Form{
        padding-top: 10%;
    }
    .both3{
        margin-left: -65px;
        margin-top: 20px;
    }
    .bttn{
        margin-left: -35px;
    }
    .footicon{
        max-width: 50%;
        padding-top: 4%;
    }
}  
.side{
    background-color: #e3e3e3;
    height: 30rem;
    display: flex;
    align-items: inherit;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 45px;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
  }
.sidebar a {
    transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    display: block;
    color: black;
    text-decoration: none;
    font-family: poppins-semibold, poppins, sans-serif;
    font-size: 1.5rem;
}
.side2{
    background-color: #2b2b2b;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar2 {
    z-index: 1;
    margin-top: -100px;
    margin-left: 1477px;
    padding: 0;
    width: 45px;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: hidden;
    padding-top: 6%;
  }
.sidebar2 a {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    display: block;
    color: white;
    text-decoration: none;
    font-family: poppins-semibold, poppins, sans-serif;
    font-size: 1.5rem;
}
#main{
    background-color: #999997;
    min-height: 50rem;
    padding-top: 10%;
}
.col-lg-7{
    display: flex;
    align-items: center;
    
}
.navbar{
    position: fixed;
}
.container-fluid{
    background-color: white;
    position: fixed;
    top: 0;
    overflow: hidden;
    padding-left: 18%;
    padding-right: 20%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar-nav{
    margin-left: -5%;
    display: flex;
    justify-content: center;
    padding-left: 10rem;
}
.nav-item{
    
    padding-left: 10%;
}
.nav-link{
    text-decoration: none;
    font-family: poppins-semibold, poppins, sans-serif;
    font-size: 14px;
}
.navbar-brand{
    font-family: poppins-semibold, poppins, sans-serif;
    font-size: 18px;
}
.img-fluid{
   
    height: 37rem;
    width: 30rem;
}
.name{
    font-size: 7rem;
    font-weight: bold;
    color: white;
    font-family: 'poppins',sans-serif;
    letter-spacing: -0.08em;
}
.name1{
    line-height: 0rem;
    font-weight: bold;
    font-size: 7rem;
    color: white;
    font-family: 'poppins',sans-serif;
    letter-spacing: -0.08em;
}
.col-lg-5{
    padding-top: 12%;
    padding-left: 20%;
    padding-bottom: 8%;
}
.belowname{
   font-size: 1.3rem;
   line-height: 10em;
   height: 80px;
   font-family: 'poppins',sans-serif;
}
#projects{
    background-color: #e8e6e6;
    width: 100%;
    min-height: 28rem;
    padding-left: 28%;
    padding-top: 9%;
}
.both{
    display: flex;
}
.icon{
    fill: #5078bf;
}
.ico{
    padding-top: 0.8%;
    padding-left: 0px;
}
.pro{
    font-family: poppins-semibold, poppins, sans-serif;
    letter-spacing: 0.2em;
}
.pro2{
    padding-left: 1%;
}
.project2{
    font-family: poppins-semibold, poppins, sans-serif;
    font-weight: 700;
    color: #454647;
    font-size: 5rem;
}
#about{
    background-color: #454647;
    min-height: 50rem;
}
.imgs{
    padding-left: 45%;
    padding-top: 15%;
    
}
.responsive{
    height: 35rem;
}
.both2{
    display: flex;
    
}
.icon2{
    fill: #c25e40;
}
.ico2{
    padding-top: 15%;
    padding-left: 5%;
}
.pro3{
    font-family: poppins-semibold, poppins, sans-serif;
    letter-spacing: 0.2em;
    padding-top: 14%;
    padding-left: 1%;
    color: #c7c7c7;
    font-size: 2rem;
}
.myname2{
    padding-left: 6%;
    padding-top: 5%;
}
.name2{
    font-size: 5rem;
    font-weight: bold;
    color: white;
    font-family: 'poppins',sans-serif;
    letter-spacing: -0.03em;
}
.name3{
    line-height: 1.5rem;
    font-weight: bold;
    font-size: 5rem;
    color: white;
    font-family: 'poppins',sans-serif;
    letter-spacing: -0.03em;
}
.info{
    color: white;
    padding-left: 6.5%;
    padding-right: 50%;
    padding-top: 9%;
    font-family: poppins-extralight, poppins, sans-serif;
    font-size: 1.04rem;
}
#contact{
    display: flex;
    justify-content: center;
    min-height: 40rem;
    background-color: #e8e6e6;
    padding-top: 5%;
    /* padding-left: 10%;
    padding-right: 50%; */
}
.bttn{
    padding-left: 50%;
}
.both3{
    display: flex;
    padding-left: 35%;
    padding-bottom: 5%;
    
}
.icon3{
    fill: #5078bf;
}
.ico3{
    padding-top: 1.4%;
    padding-left: 0px;
}
.pro4{
    font-family: poppins-semibold, poppins, sans-serif;
    letter-spacing: 0.2em;
}
.incntct{
    width: 50rem;
}
.footer{
    height: 3rem;
    padding-left: 20%;
    padding-top: 0.8%;
    display: flex;
}
.copyright{
    height: 1.5rem;
}
.tag{
    font-weight: bold;
}
.footicon{
    height: 0.5rem;
    width: 35rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}